@page "/Artwork/{artworkId:int}"
@inherits ArtworkBase
@inject NavigationManager Nav

@if (_svgContent?.Length > 0)
{
    <PageTitle>@PageTitle</PageTitle>

    <div style="width:100vw; height:@_screenHeightPx; display:flex; justify-content:center; align-items:center;">
        <svg width="@ArtworkBuilder.SvgWidth" height="@ArtworkBuilder.SvgHeight">
            @((MarkupString)_svgContent)

            @foreach (var area in ArtworkBuilder.ClickableAreas)
            {
                if (area.ReRender)
                {
                    <rect x="@area.X" y="@area.Y" width="@area.Width" height="@area.Height"
                          fill="transparent" stroke="none"
                          style="cursor:pointer;"
                          @onclick="OnParametersSetAsync">
                        <title>Repaint artwork</title>
                    </rect>
                }
                else
                {
                    <rect x="@area.X" y="@area.Y" width="@area.Width" height="@area.Height"
                          fill="transparent" stroke="none"
                          style="cursor:pointer;"
                          @onclick="() => Nav.NavigateTo(area.Page)">
                        <title>@area.Tooltip</title>
                    </rect>
                }
            }
        </svg>
        @if (!string.IsNullOrEmpty(ArtworkBuilder.Html))
        {
            <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); z-index:2; pointer-events:none; width:@(ArtworkBuilder.HtmlWidth)px; font-size:@(ArtworkBuilder.HtmlFontSize)px;; color:@(ArtworkBuilder.HtmlColor); font-family:sans-serif; letter-spacing:1.2px; text-align:justify;">
                @((MarkupString)ArtworkBuilder.Html)
            </div>
        }
    </div>
    @if (ArtworkBuilder.ShowBuyButton)
    {
        <div style="position: absolute; top: 4px; right: 4px; z-index: 1000;">
            <button class="buy-button" @onclick="HandleBuy">@ArtworkBuilder.Artwork.PriceFormatted</button>
        </div>
    }
}

@if (_isLoading)
{
    <div style="
            position:absolute;
            top:0;
            left:0;
            width:@(ArtworkBuilder.SvgWidth)px;
            height:@(ArtworkBuilder.SvgHeight)px;
            background-color:rgba(255,255,255,0.75);
            display:flex;
            justify-content:center;
            align-items:center;
        ">
        <div class="loading-progress">
            <div class="square" style="background-color:#e74c3c;"></div>
            <div class="square" style="background-color:#e67e22;"></div>
            <div class="square" style="background-color:#c0392b;"></div>
            <div class="square" style="background-color:#f1c40f;"></div>
        </div>
    </div>
}
