@inherits SvgComponentBase
@inject NavigationManager Nav

@if (_svgContent?.Length > 0)
{
    <PageTitle>@PageTitle</PageTitle>

    <div style="width:100vw; height:@_screenHeightPx; display:flex; justify-content:center; align-items:center;">
        <svg width="@_builder.SvgWidth" height="@_builder.SvgHeight">
            @((MarkupString)_svgContent)

            @foreach (var area in _builder.ClickableAreas)
            {
                <rect x="@area.X" y="@area.Y" width="@area.Width" height="@area.Height"
                    fill="transparent" stroke="none"
                    style="cursor:pointer;"
                    @onclick="() => OnAreaClick(area)">
                    <title>@area.Tooltip</title>
                </rect>
            }
        </svg>
    </div>
}

@if (_isLoading)
{
    <div style="
                position:absolute;
                z-index:10;
                top:0;
                left:0;
                width:@(_builder.SvgWidth)px;
                height:@(_builder.SvgHeight)px;
                background-color:rgba(255,255,255,0.75);
                display:flex;
                justify-content:center;
                align-items:center;
            ">
        <div class="loading-progress">
            <div class="square" style="background-color:#e74c3c;"></div>
            <div class="square" style="background-color:#e67e22;"></div>
            <div class="square" style="background-color:#c0392b;"></div>
            <div class="square" style="background-color:#f1c40f;"></div>
        </div>
    </div>
}
